
<mat-toolbar color="primary">
  AI Society
  <span class="example-spacer"></span>
  <button mat-button onclick="location.href='https://github.com/PortAISociety/dtree-demo-2019'"><i class="fab fa-github"></i> GitHub</button>
  
</mat-toolbar>

<mat-card class="main">
    <mat-card-header>
        <mat-card-title>Explanation</mat-card-title>
      </mat-card-header>
        <p>
          Hello. Welcome to the Student Conference Demo of the Artificial Intelligence and Robotics Society. This Web Application you are
          using was built by our Society to show you the power of AI in everyday life.
        </p>
        <p>
          The purpose of this App is to, based on the answers to some questions, recommend a topic for you to present about!
        </p>
</mat-card>

<mat-card class="main">
    <p>
    <mat-form-field>
        <mat-label >{{q1}}</mat-label>
        <mat-select  [(value)]="this.q1answer" (selectionChange)="onQ1Change($event)">
          <mat-option *ngFor="let answer of questionAnswers" [value]="answer.value">
            {{answer.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
          <mat-label>{{q2}}</mat-label>
          <mat-select [(value)]="this.q2answer" (selectionChange)="onQ2Change($event)" [disabled]="disabledq2.value">
            <mat-option *ngFor="let answer of questionAnswers" [value]="answer.value">
              {{answer.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
            <mat-label>{{q3}}</mat-label>
            <mat-select [(value)]="this.q3answer" (selectionChange)="onQ3Change($event)" [disabled]="disabledq3.value">
              <mat-option *ngFor="let answer of questionAnswers" [value]="answer.value">
                {{answer.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
  <button (click)="onClassify()" [disabled]="disabledButton.value" mat-raised-button color="primary">Classify</button>

  <p>You selected: {{this.q1answer}}, {{this.q2answer}} and {{this.q3answer}}</p>
  <p>And your class is: <strong>{{class}}</strong></p>


</mat-card>

